{% extends "includes/layout.html" %}

{% block title %}
	Examen
{% endblock %}

{% block content %}
<form action="/examen" method="POST">
	<table>
		<tr>
			<th>Pregunta</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
			{% for pregunta in preguntas %}
				<tr>
					<td>{{pregunta.pregunta}}</td>
					<td><label for="label1-{{pregunta.key()}}"><input type="radio" name="{{pregunta.key()}}" value="1" id="label1-{{pregunta.key()}}"> {{pregunta.respuesta1}}</label></td>
					<td><label for="label2-{{pregunta.key()}}"><input type="radio" name="{{pregunta.key()}}" value="2" id="label2-{{pregunta.key()}}"> {{pregunta.respuesta2}}</label></td>
					<td><label for="label3-{{pregunta.key()}}"><input type="radio" name="{{pregunta.key()}}" value="3" id="label3-{{pregunta.key()}}"> {{pregunta.respuesta3}}</label></td>
					<td><label for="label4-{{pregunta.key()}}"><input type="radio" name="{{pregunta.key()}}" value="4" id="label4-{{pregunta.key()}}"> {{pregunta.respuesta4}}</label></td>
				</tr>
			{% endfor %}
	</table>
	<div class="form_settings">
		<p style="padding-top: 15px">
			<span>&nbsp;</span>
			<input class="submit" type="submit" value="Enviar" />
		</p>
	</div>
</form>
{% endblock %}